@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background: rgba(94, 47, 13, 0.911) url(../imagens/fundo-madeira.jpg) center top no-repeat fixed;
    background-size: cover; 
    position: relative;
    margin: 10px;
}

#iphone {
    position: fixed;
    height: 616px;
    width: 300px;
    background-image: url(../imagens/frame-iphone.png);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#ecra {
    position: fixed;
    height: 478px;
    width: 269px;
    left: 51%;
    top: 51%;
    transform: translate(-49%, -50%);
    
    
}



div.icon {
    display: block;
    margin-top: 30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: -3px 5px 6px rgba(0, 0, 0, 0.365);
    background-size: cover;
}

div:hover {
    transform: translate(8px, -8px);
    box-shadow: -11px 13px 6px rgba(0, 0, 0, 0.365);
    transition: 0.4s;
    border: 1px solid white;
}

div#home{
    
    background-image: url(../imagens/logo-home.jpg);
    
    
    
}
div#youtube{
    background-image: url(../imagens/logo-youtube.jpg);
    
    
}
div#github{
    background-image: url(../imagens/logo-github.jpg);
    
    
}
div#instagram{
    background-image: url(../imagens/logo-instagram.jpg);
    
    
}
div#twitter{
    background-image: url(../imagens/logo-twitter.jpg);
    
    
}
div#facebook{
    background-image: url(../imagens/logo-facebook.jpg);
    
    
}